@{
    // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImportCSV</title>
</head>
<body>
    <div>
        <div class="col-md-12">
            <div class="form-group">
                @Html.Label("Image", new { @class = "leftbar-heading control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="fileInput" id="fileInput" />&nbsp;
                </div>
            </div>
        </div>
    </div>
</body>
</html>
