@model List<WorkersInMotion.Model.ViewModel.StoreVisit>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>PDF</title>
</head>
<body>
    <table>
        <row>

            <cell>
                Region
            </cell>
            <cell>
                Store
            </cell>

            <cell>
                Visit Type
            </cell>
            <cell>
                Field Manager
            </cell>
            <cell>
                Date
            </cell>
            <cell>
                Status
            </cell>

        </row>

      
    </table>
</body>
</html>


